[submodule "vendor/cli-fancy"]
	path = vendor/cli-fancy
	url = https://dev.npid7.de/tobid7/cli-fancy
[submodule "vendor/palladium"]
	path = vendor/palladium
	url = https://dev.npid7.de/tobid7/palladium.git
